<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>

  <body>
    <%= render layout: "layouts/header" do %>
      <%= render partial: 'layouts/search' %>
    <% end %>

    <main role="main">
      <div class='container'>
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </main>

    <%= render 'layouts/ga_tag' %>
    <%= render 'layouts/disqus_tag' %>
  </body>
</html>
