<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>

  <body>
    <%= render layout: "layouts/header" do; end %>

    <div class="splashcontainer">

      <div class = 'container'>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>

    <%= render partial: 'layouts/ga_tag' %>
    <%= render partial: 'layouts/search_js' %>

  </body>
</html>
